.intro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

img#about-me-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h4.company-name{
    font-style: italic;
    font-size: 16px;
    margin: 7px 0;
}

h6.sub-title{
    font-weight: 500;
    font-size: 14px;
}

ul.tasks-responsibilties{
    margin-left: 50px;
}